trigger:
  branches:
    include:
    - documentation

variables:
- group: piral-deployment-variables
- name: agentName
  value: 'ubuntu-latest'
- name: releaseBranch
  value: 'main'
- name: documentBranch
  value: 'documentation'
- name: nodeVersion
  value: '22.12.0'

stages:
- stage: Build
  displayName: Process Code

  jobs:
  - job: BuildCode
    displayName: Verify and Build Code
    pool:
      vmImage: $(agentName)
    steps:
    - task: NodeTool@0
      displayName: Use Node $(nodeVersion)
      inputs:
        versionSpec: $(nodeVersion)
    - task: YarnInstaller@2
      displayName: Install Yarn
      inputs:
        checkLatest: true
    - task: Yarn@2
      displayName: Install Dependencies
      inputs:
        Arguments: install
    - task: Yarn@2
      displayName: Assemble Packages
      inputs:
        Arguments: install --ignore-scripts
    - task: Yarn@2
      displayName: Build Core Demo
      inputs:
        Arguments: build:demo-core
    - task: Yarn@2
      displayName: Build CrossFx Demo
      inputs:
        Arguments: build:demo-cross
    - task: Yarn@2
      displayName: Build Full Demo
      inputs:
        Arguments: build:demo-full
    - task: Yarn@2
      displayName: Build Landing Page
      inputs:
        Arguments: build:page
    - task: Yarn@2
      displayName: Build Documentation
      inputs:
        Arguments: ci:docs
    - publish: $(System.DefaultWorkingDirectory)/dist
      artifact: 'dist'

- stage: DeployHomepage
  displayName: Deploy Page
  dependsOn: Build
  condition: succeeded()

  jobs:
  - deployment: DeployLandingPage
    displayName: Deploy Piral Landing Page
    pool:
      vmImage: $(agentName)
    environment: 'www-piral-io'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              artifact: 'dist'
              path: $(System.DefaultWorkingDirectory)/dist
          - task: sftpupload@1
            displayName: Upload Landing Page
            inputs:
              sourceFolder: 'dist/www/release'
              contents: '**'
              targetFolder: '/www/'
              host: $(ftpHostname)
              overwrite: true
              port: '22'
              username: $(ftpUsername)
              password: $(ftpPassword)

- stage: DeployDocumentation
  displayName: Deploy Documentation
  dependsOn: Build
  condition: succeeded()

  jobs:
  - deployment: DeployDocumentationPage
    displayName: Deploy Piral Documentation Page
    pool:
      vmImage: $(agentName)
    environment: 'docs-piral-io'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              artifact: 'dist'
              path: $(System.DefaultWorkingDirectory)/dist
          - task: sftpupload@1
            displayName: Upload Documentation Page
            inputs:
              sourceFolder: 'dist/docs/release'
              contents: '**'
              targetFolder: '/docs/'
              host: $(ftpHostname)
              overwrite: true
              port: '22'
              username: $(ftpUsername)
              password: $(ftpPassword)

- stage: DeployDemos
  displayName: Deploy Demos
  dependsOn: Build
  condition: succeeded()

  jobs:
  - deployment: DeployCoreDemo
    displayName: Deploy Piral Core Demo
    pool:
      vmImage: $(agentName)
    environment: 'demo-core-piral-io'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              artifact: 'dist'
              path: $(System.DefaultWorkingDirectory)/dist
          - task: sftpupload@1
            displayName: Upload Core Demo
            inputs:
              sourceFolder: 'dist/demo-core/release'
              contents: '**'
              targetFolder: '/demo-core/'
              host: $(ftpHostname)
              overwrite: true
              port: '22'
              username: $(ftpUsername)
              password: $(ftpPassword)

  - deployment: DeployCrossDemo
    displayName: Deploy Piral Cross Demo
    pool:
      vmImage: $(agentName)
    environment: 'demo-cross-piral-io'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              artifact: 'dist'
              path: $(System.DefaultWorkingDirectory)/dist
          - task: sftpupload@1
            displayName: Upload CrossFx Demo
            inputs:
              sourceFolder: 'dist/demo-cross/release'
              contents: '**'
              targetFolder: '/demo-cross/'
              host: $(ftpHostname)
              overwrite: true
              port: '22'
              username: $(ftpUsername)
              password: $(ftpPassword)

  - deployment: DeployFullDemo
    displayName: Deploy Piral Full Demo
    pool:
      vmImage: $(agentName)
    environment: 'demo-full-piral-io'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadPipelineArtifact@2
            inputs:
              artifact: 'dist'
              path: $(System.DefaultWorkingDirectory)/dist
          - task: sftpupload@1
            displayName: Upload Core Demo
            inputs:
              sourceFolder: 'dist/demo-full/release'
              contents: '**'
              targetFolder: '/demo-full/'
              host: $(ftpHostname)
              overwrite: true
              port: '22'
              username: $(ftpUsername)
              password: $(ftpPassword)
