$badgeSize: 50px;
$timelineGap: 20px;
$timelineCenter: ($timelineGap + $badgeSize / 2);

ul.timeline {
  list-style: none;
  padding: $timelineGap 0 $timelineGap;
  position: relative;
  margin: 0;
  max-width: 100%;

  &::before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: '';
    width: 3px;
    left: $timelineCenter;
    background: #eee;
    margin-left: -1.5px;

    @media (min-width: $tabletBrk) {
      left: 50%;
    }
  }

  & > li {
    margin-bottom: $timelineGap;
    position: relative;

    &::before, &::after {
      content: " ";
      display: table;
    }

    &::after {
      clear: both;
    }

    .timeline-badge {
      color: white;
      width: $badgeSize;
      height: $badgeSize;
      line-height: $badgeSize;
      font-size: 1.4em;
      position: absolute;
      top: 16px;
      left: $timelineCenter;
      margin-left: -($badgeSize / 2);
      background-color: #999999;
      z-index: 100;
      border-radius: 50%;
      box-sizing: border-box;

      @media (min-width: $tabletBrk) {
        left: 50%;
      }
    }

    .timeline-panel {
      width: calc(100% - 90px);
      border: 1px solid #d4d4d4;
      border-radius: 2px;
      position: relative;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
      box-sizing: border-box;

      &::before {
        position: absolute;
        top: 26px;
        left: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 0 solid #ccc;
        border-right: 15px solid #ccc;
        border-bottom: 15px solid transparent;
        content: '';
      }

      &::after {
        position: absolute;
        top: 27px;
        left: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 0 solid #fff;
        border-right: 15px solid #fff;
        border-bottom: 14px solid transparent;
        content: '';
      }

      @media (min-width: $tabletBrk) {
        width: calc(50% - 45px);
      }
    }

    &:nth-child(odd) {
      .timeline-panel {
        float: right;

        @media (min-width: $tabletBrk) {
          float: left;

          &::before {
            border-left-width: 15px;
            border-right-width: 0;
            left: auto;
            right: -15px;
          }

          &::after {
            border-left-width: 15px;
            border-right-width: 0;
            left: auto;
            right: -14px;
          }
        }
      }
    }

    &:nth-child(even) {
      .timeline-panel {
        float: right;
      }
    }
  }
}
