$color-green: #56AA1C;
$color-primary: #00FFAD;
$color-secondary: #192440;
$color-heart: #ea5395;
$color-text: #000;

$desktopBrk: 1024px;
$tabletBrk: 768px;
$mobileBrk: 576px;

$fontFamily: 'Lato', sans-serif;

@import "fonts";
@import "body";
@import "layout";
@import "loader";
@import "cards";
@import "tabs";
@import "markdown";
@import "tutorial";
@import "demos";
