.demos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .demo {
    flex: 1 0 300px;
    padding: 1em;
    max-width: 100%;
  }

  blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    font-style: italic;
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    margin: 1.5em 0;
    position: relative;

    &:before {
      content: '\201C';
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      width: 3rem;
      height: 2rem;
      font: 6em/1.08em sans-serif;
      color: #666;
      text-align: center;
    }
  }
}
