header {
  padding: 1em;
  background: $color-secondary;
}

header .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;

    img {
      max-height: 2em;
      margin-right: 0.5em;
    }

    > span {
      font-size: 1.2em;
    }

    .brand-name {
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    flex: 1 0 auto;
    justify-content: flex-end;

    > li {
      padding: 0 0.5em;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: $color-primary;
        }

        &.active {
          color: $color-primary;
        }
      }
    }
  }

  .hamburger {
    display: none;

    a {
      color: white;
    }
  }

  @media (max-width: $mobileBrk) {
    .hamburger {
      display: block;
    }

    .menu {
      display: none;
      flex: 1 100%;

      &.active {
        display: block;
      }

      flex-direction: column;

      > li {
        padding: 0.5em 0;
      }
    }
  }
}
