header {
  padding: 1em;
  background: $color-secondary;
}

header nav {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    flex: 1 0 auto;
    justify-content: flex-start;

    > li {
      padding-right: 1em;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: $color-primary;
        }

        &.active {
          color: $color-primary;
        }
      }
    }
  }

  @media (max-width: $mobileBrk) {
    .menu {
      display: none;
      flex: 1 100%;

      &.active {
        display: block;
      }

      flex-direction: column;

      > li {
        padding: 0.5em 0;
      }
    }
  }
}

header .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    flex: 9999;

    img {
      max-height: 2em;
      margin-right: 0.5em;
    }

    > span {
      font-size: 1.2em;
    }

    .brand-name {
      font-weight: bold;
    }
  }

  .hamburger {
    display: none;

    a {
      color: white;
    }
  }

  @media (max-width: $mobileBrk) {
    .hamburger {
      display: block;
    }
  }
}
