#app {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;
  width: 100%;
}

div.content {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
}

header, footer {
  padding: 1em;
  background: $color-secondary;
}

.version-info {
  margin-top: 1rem;
  text-align: right;
  font-size: 0.9em;
  color: #999;

  i {
    margin-left: 0.5rem;
  }
}

header .header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;

    img {
      max-height: 2em;
      margin-right: 0.5em;
    }

    > span {
      font-size: 1.2em;
    }

    .brand-name {
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    flex: 1 0 auto;
    justify-content: flex-end;

    > li {
      padding: 0 0.5em;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: $color-primary;
        }

        &.active {
          color: $color-primary;
        }
      }
    }
  }

  @media (max-width: $mobileBrk) {
    flex-direction: column;
    align-items: flex-start;

    ul {
      flex-direction: column;

      > li {
        padding: 0.5em 0;
      }
    }
  }
}

footer .footer {
  padding: 1rem 0;

  .logo {
    max-width: 180px;
  }

  .footer-columns {
    flex-direction: column;

    & > div {
      flex: 1;

      @media (max-width: $tabletBrk) {
        &:first-child {
          flex: 1 100%;
        }
      }
    }

    @media (min-width: $mobileBrk) {
      flex-direction: row;
    }
  }

  .footer-menu {
    margin-top: 3rem;
    padding-left: 1em;

    @media (min-width: $tabletBrk) {
      &:first-child {
        margin-top: 1rem;
      }
    }

    h3 {
      color: white;
      font-weight: bold;
      margin-top: 0;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        margin: 1rem 0;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }

  .copy-rights {
    color: white;
    margin: 0 auto;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0 1em;
    line-height: 1.8;


    .fa.fa-heart {
      color: $color-heart;
    }

    @media (min-width: $mobileBrk) {
      text-align: center;
    }
  }
}
