.doc-menu {
  .nav-link {
    margin-bottom: 0.5rem;
    display: block;
    padding: 0.5em 1em;
    border-left: 3px solid transparent;
    color: $color-secondary;

    &:hover, &:focus {
      color: black;
      text-decoration: none;
      background: none;
    }

    &.active {
      background: none;
      color: $color-green;
      border-color: $color-green;
    }
  }

  .doc-sub-menu {
    padding-left: 0;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;

    .nav-link {
      margin-top: 1em;
      margin-bottom: 0;
      font-size: 0.75em;
      padding: 0;
      padding-left: 2em;
    }
  }
}
