.tutorial-card {
  text-decoration: none;
  color: #444;
  display: block;
  padding: 1em;

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
  }

  &:hover {
    color: black;
  }

  p {
    margin: 0;
    margin-top: 1em;
  }

  .info {
    color: #555;
    font-size: 0.75em;
  }

  .info + .info {
    margin-top: 0;
  }
}
