@import "../../../../../node_modules/@pidoc/core/src/styles/variables";
@import "../../../../../node_modules/@pidoc/core/src/styles/fonts";
@import "../../../../../node_modules/@pidoc/core/src/styles/body";
@import "custom";
