@mixin colored-item ($color) {
  .item-inner {
    border-top: 3px solid $color;
    &:hover {
      .title {
        color: darken($color, 15%);
      }
    }
  }
  .icon {
    color: $color;
  }
}

.landing-page {
  .header {
    @include gradient($text-color, darken($text-color, 15%));
    color: rgba(256, 256, 256, 0.85);
    padding: 60px 0;

    a {
      color: #fff;
    }
  }
  .branding {
    text-transform: uppercase;
    margin-bottom: 20px;

    .logo {
      font-size: 38px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .text-bold {
      font-weight: 800;
      color: #fff;
    }

    .icon {
      font-size: 32px;
      color: $color-green;
    }
  }

  .tagline {
    font-weight: 600;
    font-size: 20px;

    p {
      margin-bottom: 5px;
    }

    .text-highlight{
      color: darken($color-green, 20%);
    }
  }

  .fa-heart {
    color: $color-pink;
  }

  .cta-container {
    margin-top: 30px;
  }
}

.cards-section {
  padding: 60px 0;
  background: $smoky-grey;
  margin: 0 auto;

  .title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 600;
  }

  .intro {
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 60px;
    color: $text-color-secondary;
  }

  .cards-wrapper {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
  }

  .item {
    margin-bottom: 30px;

    .icon-holder {
      margin-bottom: 15px;
    }

    .icon {
      font-size: 36px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
    }

    .intro {
      margin-bottom: 15px;
    }
  }

  .item-inner {
    padding: 45px 30px;
    background: #fff;
    position: relative;
    border: 1px solid $divider;
    @include border-radius(4px);
    height: 100%;

    .link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background-image: url("../assets/empty.gif"); /* for IE8 */
    }

    &:hover {
      background: $smoky-white;
    }
  }

  .item-primary {
    @include colored-item($color-primary);
  }

  .item-green {
    @include colored-item($color-green);
  }

  .item-blue {
    @include colored-item($color-blue);
  }

  .item-orange {
    @include colored-item($color-orange);
  }

  .item-red {
    @include colored-item($color-red);
  }

  .item-pink {
    @include colored-item($color-pink);
  }

  .item-purple {
    @include colored-item($color-purple);
  }
}

@media (max-width: 767.98px) {
  .cards-section .item-inner {
    padding: 30px 15px;
  }
}
