$color-green: #56AA1C;
$color-primary: #00FFAD;
$color-secondary: #192440;
$color-heart: #ea5395;
$color-text: #000;
$color-back: #fff;
$color-warning: #ff9100;
$color-danger: #ff5252;
$color-purple: #a321a3;
$color-success: #00c853;
$color-tip: #00bfa5;

$screenBrk: 1200px;
$desktopBrk: 992px;
$tabletBrk: 768px;
$mobileBrk: 576px;

$fontFamily: 'Lato', sans-serif;
